<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <title><%= @title %></title>
  </head>
  <body>
    <nav>
      <div class="container">
        <img class="navbar-logo py-4" src="blue_primary_logo.png" />
      </div>
    </nav>
    <div class="bottom-page container">
      <h1 class="py-3">
        The Levvel CLI is designed to help you be the best developer we can help you be.
      </h1>
      <%= @text %>
    </div>


    <nav class="navbar fixed-bottom">
      <div class="container">
        <span class="navbar-brand">
          <img class="footer-logo" src="blue_accent_logo.png" />
        </span>
        <span>Made with ❤️ by&nbsp;<a href="https://levvel.io">levvel.io</a></span>
      </div>
    </nav>
  </body>
</html>
